<div class="location">
	<div class="country-wrapper">
		<h4 style="color:blue; font-size: 150%;">{% trans %}Country{% endtrans %}:</h4>
		<p style="font-family: verdana; font-size: 100%;">{{ country }}</p>
	</div>
	<div class="country-wrapper">
		<h4 style="color:blue; font-size: 150%;">{% trans %}City{% endtrans %}:</h4>
		<p style="font-family: verdana; font-size: 100%;">{{ city }}</p>
	</div>
	<div class="country-wrapper">
		<h4 style="color:blue; font-size: 150%;">{% trans %}Current TIme{% endtrans %}:</h4>
		<p style="font-family: verdana; font-size: 100%;">{{ time }}</p>
	</div>
</div>
